body{
    background-image: url('https://img.wallpapersafari.com/desktop/1600/900/41/7/qzvAFa.jpg');
    background-repeat:no-repeat; 
    background-position: center;
    background-size:cover;
    height: 100vh;
}