{% extends 'base.html'%}
{% block title %}Planet Me Blogs{% endblock %} 
{% block content %}


<div class="container-fluid">
 

<div class ="row">
<div class = "col-md-12" align="center">
    <h3>PlanetMe Topics</h3>
    <span style="font-size:x-large">
    <a href ="{{url_for("main.planetmetheme", theme='Lifestyle')}}"><button style="border-radius:5rem; background-color: none;border:1px gold solid;">Lifestyle</button></a>
    <a href ="{{url_for("main.planetmetheme", theme='Nutrition')}}"><button style="border-radius:5rem; background-color: none;border:1px gold solid;">Nutrition</button></a>
    <a href ="{{url_for("main.planetmetheme", theme='Religion')}}"><button style="border-radius:5rem; background-color: none;border:1px gold solid;">Religion</button></a>
    <a href ="{{url_for("main.planetmetheme", theme='Art')}}"><button style="border-radius:5rem; background-color: none;border:1px gold solid;">Art</button></a>
    <a href ="{{url_for("main.planetmetheme", theme='History')}}"><button style="border-radius:5rem; background-color: none;border:1px gold solid;">History</button></a>
    <a href ="{{url_for("main.planetmetheme", theme='Science')}}"><button style="border-radius:5rem; background-color: none;border:1px gold solid;">Science</button></a>
    <a href ="{{url_for("main.planetmetheme", theme='Art')}}"><button style="border-radius:5rem; background-color: none;border:1px gold solid;">World Peace</button></a>
    <a href ="{{url_for("main.planetmetheme", theme='History')}}"><button style="border-radius:5rem; background-color: none;border:1px gold solid;">Sports</button></a>
    <a href ="{{url_for("main.planetmetheme", theme='Science')}}"><button style="border-radius:5rem; background-color: none;border:1px gold solid;">Sustainable Energy</button></a>
  </span>
  
    <hr>
    
     <h1>Planet-Me BLOGS</h1>
     <hr>

    {% if globalusers %}
      {% for pitch in globalusers %}
        <div class="col-md-4">
        <div class="panel panel-default" style="width:50rem;font-size:large">
          <div class="panel-heading" style="background-color:whitesmoke; color:black;font-weight:900">
            <malomba style="color:blue"> Theme:</malomba> {{pitch.theme}}

          </div>



          <div class="panel-body">

            <span style="text-decoration: underline;font-weight: 900;">{{pitch.title}}</span>:<br>{{pitch.pitch| truncate(50)}}<br>
            <hr>

            By {{pitch.contributors}}

          </div>
          <div class="panel-footer">
            <a href="{{url_for('main.discuss', id = pitch.id)}}">Read More ...</a>


          </div>
        </div>

      </div>


      
      {% endfor %}
      {% else %}
      <div class="container"align="center" >
        <h4>No blogs available</h4>
        
    </div>
      {%endif%}
      


        
        


        
</div>

</div>



</div>
{% endblock %}