 {% extends 'base.html'%}
{% block content%}
<div class="row container-fluid">
  <h2 style="margin-left:56%"><u>Blogs</u>
</h2>
  <div class="col-md-2">
        <a href="{{url_for('main.planetmeblogs')}}"><i class="fa-solid fa-circle-arrow-left"
            style="font-size:300%;color:blue" title="Back To Profile"></i></a>
      </div> 
  <div class="col-md-10">
    {% if globaltheme %}
      {% for pitch in globaltheme %}
        <div class="col-md-4" align="center">
        <div class="panel panel-default" style="width:45rem;font-size:large">
          <div class="panel-heading" style="background-color:whitesmoke; color:black;font-weight:900">
            <malomba style="color:blue"> Theme:</malomba> {{pitch.theme}}

          </div>



          <div class="panel-body">

            <span style="text-decoration: underline;font-weight: 900;">{{pitch.title}}</span>:<br>{{pitch.pitch}}<br>
            <hr>

            By {{pitch.contributors}}

          </div>
          <div class="panel-footer">
            <a href="{{url_for('main.discuss', id = pitch.id)}}">Read More ...</a>



          </div>
        </div>

      </div>
      {% endfor %} 

      
      {% else %}
      <div class="container" align="center">
        <h4>No blogs available</h4>
      
    </div>  
  
     {%endif%}

  </div>
  
</div>


{% endblock %} 